* {
	box-sizing: border-box;
	border: 1px solid red;

}
body{
	background-image: url(../images/cover3.jpg);
	background-size: cover;

}

header{

border-bottom: 2px solid lightblue;
}
header h1{
   /*-webkit-text-fill-color: gold;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 55px;
   letter-spacing: 1em;*/

}

header p{
	font-size: 24px;
}

.heyhey{
	font-size: 50px;
	color: yellow;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.container{
/*background-image: url(../images/cover3.jpg);*/
background-size: cover;

border-bottom: 2px solid lightblue;
}


.title{
color: white;

}

/*.nav-btn{

}*/

.content{
	/*border: 1px solid red;*/
	height: auto;
	margin: 0 auto;
	margin-bottom: 10px;
	color: white;
	/*border-bottom: 2px solid lightblue;*/
}

.questions{
	margin-top: 2%;
	text-align: center;
}
.q1{
	font-size: 32px;
	border-radius: 20px;
	padding: 10px;
	background-color: gray;
	opacity: .5;
	margin: 0 0 0 10%;

}
.q2{
	font-size: 80px;

	/*background-color: gray;*/
}

/*.edd-form{
	margin: 0 auto;
}*/

/*Container for mood-input*/
.mood-div{
height: 60px;
background-color: clear;
width: 100%;
margin-top: 2%;
padding: 10px;
padding-bottom: 10%;
/*text-align: center;*/
}

/*form class edd*/
/*.edd-input{
width: 45%;
height: 50px;
border-radius: 10px;
text-align: center;
font-size: 20px;
}*/

/*.edd-btn{
width: 15%;
height: 50px;
border-radius: 10px;
border: 2px solid #cdd0d7;(metalic silver)
text-align: center;
font-size: 20px;
margin-left: 5px;
color: white;
background-color: gold;
cursor: pointer;
}*/

/*mid section */
.mid-section{
margin: auto;
padding: 10px;
}

.today{ 		/*eat section*/
	display: block;
	border-bottom: 2px solid lightblue;
	margin-bottom: 50px;

}

.eat-today-img{
	display: inline-block;
	margin: 0 30% 0 0;
}

.message{

	color: black;
	margin-bottom: 5px;
	display: inline-block;
	font-size: 24px;
	color: gold;

	/*margin-left: -50px;
	transform: rotate(-90deg);
	transform-origin: right bottom 0;*/


}

.details{
	display: inline-block;
	border-left: 13px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	color: #fff;
	background-color: rgba(	178, 218,234, .5) ;/*aka #b2daea*/
	padding: 0 50px;
	width: 40%;
	height: 200px;
	border-radius: 10px;
	text-align: left;
	float: right;
}

/*labels*/
.name{
	font-size: 30px;
	color: #ffffff;
}

.address{
	font-size: 24px;
}

.price{
	font-size: 20px;
	margin-top: 5px;
}

.listing{
border-right: 2px solid lightblue;
border-left: 2px solid lightblue;
margin: 0 20px;
width: 250px;
height: 250px;
display: inline-block;
border-radius: 100%;
background: rgba(255, 255, 255, .5);
cursor: pointer;
}



.footer{
	height: 100px;
	background-color: rgba(237, 216, 216, .5);
	border-top: 1px solid lightblue;
	margin-top: 15px;
	padding-bottom: 5px;

}
