* {
	box-sizing: border-box;
/*	border: 1px solid red;*/

}
body{
	background-image: url(../images/cover3.jpg);
	background-size: cover;
	font-size: 100%;
}

header{

border-bottom: 2px solid lightblue;
display: block;


}
header h1{
   /*-webkit-text-fill-color: gold;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-size: 55px;
   letter-spacing: 1em;*/
   display: inline-block;
   border-right: 2px solid black;
   padding-right: 5px;
  }


header h2{

	display: inline-block;
	/*color: silver;*/
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

/*how it works */
.how-it-works-link{

	display: block;
	width: auto;
	background-color: gray;
	border-radius: 10px;
	border: 1px solid white;
	margin: 0 auto;
	margin-top: 2px;
	padding: 5px;
	color: yellow;
	cursor: pointer;
	text-align: center;

}
/*how it works hover effects*/
.how-it-works-link:hover{
	background-color: green;
	text-transform: uppercase;
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.container{
/*background-image: url(../images/cover3.jpg);*/
background-size: cover;

border-bottom: 2px solid lightblue;
}


.title{
color: white;
}

.how-it-works-popup{
	background-color: rgba(255, 255, 255, .5);
	margin: 0 auto;
	width: auto;
	padding: 25px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	font-size: 10px;
}

.welcome{
	color: magenta;
}
.x{
	float: right ;
	font-size: 24px;
	color: gray;
	margin: 5px;
	padding: 5px;
}
.x:hover{
	color: red;
	/*-webkit-text-transform: rotate(-10deg);*/
}



/*mid section */
.mid-section{
margin: auto;
padding: 5px;
}

.section{ 		/*eat section*/
	display: block;
	background-color: rgba( 255, 255, 255, .5);
	border-radius: 10px;
	margin-bottom: 25px;
}

/*details title message*/
.message{
	margin-bottom: 2px;
	display: inline-block;
	font-size: 12px;
	color: black;
	font-weight: 800;
}

.edd-img-div{
	display: inline-block;
}

.details{
	display: inline-block;
	border-left: 15px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	color: #fff;
	background-color: rgba(	178, 218,234, .5) ;/*aka #b2daea*/
	padding: 0 5px;
	width: 35%;
	height: 154px;
	border-radius: 10px;
	text-align: left;
	float: right;
}

/*labels*/
.detail-style{
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
	padding: 5px;
}
.name{
	font-size: 15px;
	color: #000000;
	font-weight: 800;
	margin: 1px 0 ;
	cursor: pointer;
}

.address{
	font-size: 10px;
	margin: 1px 0 ;
	cursor: pointer;
}

.price{
	font-size: 10px;
	margin: 1px 0 ;

}

.name:hover, .address:hover{
	background-color: orange;
}


.img-style{
border-right: 2px solid lightblue;
border-left: 2px solid lightblue;
margin: 0 20px;
width: 150px;
height: 150px;
display: inline-block;
border-radius: 100%;
background: rgba(255, 255, 255, .5);
cursor: pointer;
}



.footer{
	height: auto;
	/*background-color: rgba(225, 225, 0, 0 );*/
	background-color: white;
	border-top: 1px solid lightblue;
	margin-top: 5px;
	padding-bottom: 5px;
	display: block;
}
.footer-content{
	height: auto;
	display: inline-block;
}
.footer-update{
	padding: 5px;
	margin: 5px auto;
	text-align: center;
	display: block;
	width: 100%;
	height: 35px;
	background-color: lightblue;
}

.email-update{

}

/*Desktop view media Query*/

@media screen and (min-width: 680px) {

    .how-it-works-popup{
	font-size: 14px;
	}

	.img-style{
	width: 250px;
	height: 250px;
	}

	.details{
	display: inline-block;
	border-left: 15px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	color: #fff;
	background-color: rgba(	178, 218,234, .5) ;/*aka #b2daea*/
	padding: 0 50px;
	width: 40%;
	height: 254px;
	border-radius: 10px;
	text-align: left;
	float: right;
}

.message{
	font-size: 24px;
}
/*labels*/
.detail-style{
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
	padding: 5px;
}
.name{
	font-size: 30px;
	color: #000000;
	font-weight: 800;
}


.address{
	font-size: 24px;
}

.price{
	font-size: 20px;
	margin-top: 5px;

}


}
